.wrap{
	width: 500px;
	height: 400px;
	background: pink;
}

.header{
	width: 500px;
	height: 100px;
	background: green;
}

.menu{
	width: 200px;
	height: 200px;
	background: orange;
	float: left; 
}

.content{
	width: 200px;
	height: 200px;
	background: black;
	float: right;
}

.clearfix{
	clear: both;
}
/*2.在.menu跟.content後面加上clear來中止float，
成為.menu跟.content結尾，其他div的開頭基準*/

.footer{
	width: 500px;
	height: 100px;
	background: blue;
}
/*1..menu跟.content開始浮動，
並浮動在父元素上，header後，
.footer沒有浮動，所以智障跟在hearder後面
*/